.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 6px;
    transition: 0.2s;

    &.type-text {
        height: 38px;
        width: auto;
        padding: 0 22px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;

        & svg {
            margin-right: 8px;
        }
    }

    &.margin {
        margin-left: 6px;
    }

    &:focus {
        outline: none;
    }

    // Color types
    &.not-active {
        background-color: #8a8da0;
        color: #ffffff;
        cursor: pointer;

        & path {
            fill: #ffffff;
        }

        &:hover {
            box-shadow: 0px 1px 4px rgba(17, 53, 0, 0.25),
                0px 3px 12px 2px rgba(17, 53, 0, 0.35);
        }

        &:active {
            background-color: #5d6387;
        }
    }

    &.success {
        background-color: #44d600;
        color: #ffffff;
        cursor: pointer;

        & path {
            fill: #ffffff;
        }

        &:hover {
            box-shadow: 0px 1px 4px rgba(68, 214, 0, 0.25),
                0px 3px 12px 2px rgba(68, 214, 0, 0.35);
        }

        &:active {
            background-color: #36aa00;
        }
    }

    &.primary {
        background-color: #e8f1ff;
        color: #1a75ff;
        cursor: pointer;

        & path {
            fill: #1a75ff;
        }

        &:hover {
            box-shadow: 0px 1px 4px rgba(51, 194, 255, 0.25),
                0px 3px 12px 2px rgba(51, 194, 255, 0.35);
            background-color: #d7e4f9;
        }

        &:active {
            background-color: #b4d1ff;
        }
    }

    &.warning {
        background-color: #f49200;
        color: #ffffff;
        cursor: pointer;

        & path {
            fill: #ffffff;
        }

        &:hover {
            box-shadow: 0px 1px 4px rgba(255, 163, 25, 0.25),
                0px 3px 12px 2px rgba(255, 163, 25, 0.35);
            background-color: #f49200;
        }

        &:active {
            background-color: #b86f01;
        }
    }

    &.danger {
        background-color: #ff1a43;
        color: #ffffff;
        cursor: pointer;

        & path {
            fill: #ffffff;
        }

        &:hover {
            box-shadow: 0px 1px 4px rgba(255, 25, 67, 0.25),
                0px 3px 12px 2px rgba(255, 25, 67, 0.35);
        }

        &:active {
            background-color: #d70028;
        }
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
        background-color: #6e759f;

        &:hover {
            box-shadow: none;
        }
        &:active {
            background-color: #6e759f;
        }
    }
}
