* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f6f8fb;
    color: #223354;
    padding: 30px;
}

/* Prevent touch highlight */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

strong {
    background-color: rgb(255, 254, 169);
}
em {
    font-weight: 700;
}

.fill-current {
    fill: currentColor;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
